<page-shell name="{{name}}" username="{{username}}" profilePic="{{profile_picture}}">
  <sidebar-item [routerLink]="['Users']"       label="Users"></sidebar-item>
  <sidebar-item [routerLink]="['Heroes']"       label="Heroes"></sidebar-item>
  <sidebar-item [routerLink]="['MapComponent']" label="Map"></sidebar-item>
  <sidebar-item onclick="window.location = '/logout'" label="Logout"></sidebar-item>
  <h1>{{title}}</h1>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</page-shell>