<md-toolbar color="primary">
  angular2-login-seed
  <span class="app-toolbar-filler">
  </span>
</md-toolbar>

<article>
  <h1>{{title}}</h1>

  <button md-raised-button color="" [routerLink]="['Users']">Users</button>
  <button md-raised-button color="" [routerLink]="['Heroes']">Heroes</button>
  <button md-raised-button color="" [routerLink]="['MapComponent']">Map</button>
  <button md-raised-button color="" [routerLink]="['Chat']">Chat</button>
  <button md-raised-button color="accent" onclick="window.location = '/logout'">Logout</button>

  <md-card>
    <p>{{name}}</p>
    <p>{{username}}</p>
    <img class="profile-picture" src="{{profile_picture}}" alt="">
  </md-card>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</article>