md-card {
  max-width:400px;
  max-height:400px;
  height:400px;
  margin:0 auto;
}

ul {
  list-style: none;
  height:76%;
  overflow-y:scroll;
}

ul > li {
  padding: 3px;
  margin: 3px;
  border-bottom:2px solid #ececec;
}

ul > li > span {
  margin-left:5px;
}

ul > li > img {
  width:40px;
  height:40px;
  border-radius:50%;
  border:2px solid lawngreen;
  vertical-align: middle;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:inline-block;
  width:70%;
  border:none;
  border-bottom:1px solid #ececec;
}

input:focus { outline:none; }