<div class="content">
  
    <md-card heading="{{title}}" elevation="5">
      
      <md-card-title>
        <h2>Angular2 Login Seed</h2>
      </md-card-title>
      
      <md-card-content>
        Login with one of the providers below
        
        <br>
        <hr>
        <button (click)="googleLogin()" md-raised-button color="primary">Google</button>
        <button (click)="twitterLogin()" md-raised-button color="primary">Twitter</button>
        <p><i>Created by <a href="https://github.com/domfarolino">Dom Farolino</a></i></p>
        <p><i>Click below to go to repository</i></p>
        <button (click)="repository()" md-raised-button color="accent">GitHub Repository</button>
      </md-card-content>
      
    </md-card>
  
</div>