<md-sidenav-layout>
  <md-sidenav #sidenav>
    <div id="user-profile">
      <img [attr.src]="profile_picture">
      <p>{{name}}</p>
      <p>{{username}}</p>
    </div>
    
    <md-nav-list (click)="sidenav.close()">
      
      <a md-list-item [routerLink]="['Users']">
        <span md-line>Users</span>
        <span md-line class="secondary">Most recently logged in users</span>
      </a>
      <a md-list-item [routerLink]="['Heroes']">
        <span md-line>Heroes</span>
        <span md-line class="secondary">Hero registry</span>
      </a>
      <a md-list-item (click)="logout()">
        <span md-line>Logout</span>
      </a>
      
    </md-nav-list>
  </md-sidenav>
  
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    angular2-login-seed
  </md-toolbar>

  <div class="content">
    <md-card style="background-color:#ffd905">
      Note: This version of the application has not been updated to the latest version of the Angular <a href="https://github.com/angular/vladivostok">router</a>. Route security and the new router will be featured in this application very soon. For updates on this project check out the <a href="https://github.com/domfarolino/angular2-login-seed">respository here</a>
    </md-card>
    <h1>{{title}}</h1>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>