.selected {
  background-color: #CFD8DC;
  background-color: #546E7A !important;
  color: white;
}

paper-card {
  display:block;
  padding:10px;
}

paper-card img {
  width:50px;
  height:50px;
  border:2px solid white;
  border-radius:50%;
  vertical-align: middle;
}